<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="first.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="cart">
        <header>{{ title }}</header>
        <div>
            <input id="itemForm"/>
            <button v-on:click="addItem">add items</button>
    </div>
    <ul>
        <li v-for="(item,index) in items">
            <button v-on:click="deleteItem(index)">X</button>{{item.text}}
        </li>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
     <script src ="first.js"></script>
</body>
</html>
