<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
               <form id="app" @submit.prevent="onSubmit">
  
                    <p v-if="errors.length">
                      <b>Please correct the following error(s):</b>
                      <ul>
                        <li v-for="error in errors">{{ error }}</li>
                      </ul>
                    </p>
                    
                    <p>
                      <label for="name">Name<label>
                      <input type="text" name="name" id="name" v-model="name">
                    </p>
                  
                    <p>
                      <label for="password">Password</label><label>
                      <input type="password" name="password" id="password" v-model="password" >
                    </p>
                  
                    <p>
                      <button type="submit">submit</button>  
                    </p>
        </form>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src ="loginform.js"></script>
</body>
</html>