<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>sort titles by:</h2>
        <button @click="lowestRated">lowestrated</button>
        <button @click="highestRated">highestrated</button>
        <table>
            <thead>
                <tr>
                    <th v-for="key in columns">{{key}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in ratingsinfo"> 
                <td v-for="key in columns">{{entry[key]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src ="rating.js"></script>
</body>
</html>
