<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="second">
     <input v-model.number="num1" type="number">
     <span>+</span>
     <input v-mode.number="num2" type="number">
     <span>=</span>
     <span>{{num1 + num2}}</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
     <script src ="second.js"></script>
</body>
</html>