.nav-bar {
    background-color:green;
    margin-bottom: 15px;
    height:50px;
}

.product {
    padding:2rem;
    display:flex;
}

img {
    border: 1px solid #0d9eb1;
    width: 70%;
    margin: 40px;
   }

.product-info {
    margin-top: 10px;
    width: 50%;
}

.product-image {
    width:70%;
}

.cart {
    margin-right: 10px;
    float: right;
    border: 1px solid #c20b0b;
    padding:3px 5px;
  }
  
  button {
    margin-top: 20px;
    background-color: rgb(43, 155, 9);
    color: blueviolet;
    font-size: 14px;
    height:10%;
  } 

.color-box {
    margin-top:5px;
    width:30px;
    height:30px;
}

.disabledButton {
    background-color: white;
}

.outofstock {
    text-decoration-line: line-through;
}



.review-form {
    margin-right:20px;
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #a13d3d;
  }
  
  input {
    width: 100%;  
    height: 25px;
    margin-bottom: 20px;
  }
  